@import url(variable.css);
.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.container {
  display: grid;
  place-content: center;
  gap: 1.7rem;
  width: 100%;
}
.card {
  box-shadow: var(--background-shadow);
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 1.1rem;
}
.card a {
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background: var(--background-color);
  box-shadow: var(--background-shadow);
}
button:hover {
  background: var(--background-hover);
}
button:active {
  background: var(--background-click);
  box-shadow: var(--background-inner-shadow);
}
body[data-theme="dark"] button {
  border: none;
  background: var(--background-dark-color);
  box-shadow: var(--background-dark-shadow);
}
body[data-theme="dark"] button:hover {
  background: var(--background-dark-hover);
}
body[data-theme="dark"] button:active {
  background: var(--background-dark-click);
}

body[data-theme="dark"] .card {
  box-shadow: var(--background-dark-shadow);
}
