.__box_calculator {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  gap: 1.2rem;
  padding: 1.6rem;
  background-color: var(--background-color);
  box-shadow: var(--background-shadow);
}
.__result_calculator {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-content: end;
  place-items: end;
  min-height: 5rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--background-inner-shadow);
}
.__result_calculator_new_number {
  font-weight: 800;
  color: var(--primary-color);
}
.__result_calculator .__result_calculator_last_number_or_preceding_operation {
  opacity: 0.5;
}

.__input_calculator_wrapper {
  display: grid;
  grid-template-areas:
    "buttonAC buttonDist buttonMultiplied buttonSubs"
    "button7 button8 button9 buttonSum"
    "button4 button5 button6 buttonSum"
    "button1 button2 button3 buttonresult"
    "button0 button0  buttonTitik buttonresult";
  gap: 0.8rem;
}
.__button_input {
  background: var(--background-color);
  box-shadow: var(--background-shadow);
  color: var(--secondary-color);
  padding: 1rem;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
}
.__button_input:hover {
  background: var(--background-hover);
}
.__button_input:active {
  background: var(--background-click);
}
